.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    text-align: center;
    margin:5px;
}

.product-card img {
    width: 300px;
    height: 250px;
}

.product-price {
    color:black;
    font-size: 22px;
}

.product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    border-radius: 50px;
}

.product-card button:hover {
    opacity: 0.5;
}

.product-list {
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
